
frontend/node_modules/
backend/node_modules/

frontend/.env
backend/.env

.env
.env.local
.env.production

frontend/dist/
backend/dist/

frontend/logs/
backend/logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/
.idea/
.DS_Store

Thumbs.db
*.swp

.git/
!.gitignore 

frontend/package-lock.json
backend/package-lock.json
